#contenedor{
    padding-top: 20px;
    display: flex;
    margin: 0% 2%;
    justify-content: space-between;
    z-index: -100;
}

#contenedor2{
    height: 80vh;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 0% 2%;
    width: 96%;
    justify-content: center;
    align-items: center;
}

.negro{
    color: black;
    font-size: 3rem;
    margin-right: 30px;
}

.gif{
    height: 140px;
}